/CompiladoresHoc3/build/
java-cup-11b.jar
java-cup-11b-runtime.jar
JFlex.jar

/CompiladoresHoc5/nbproject/private/
CompiladoresHoc3.zip
/CompiladoresHoc5/build/
CompiladoresHoc5.zip
/CompiladoresHoc5/archEntrada.txt

/CompiladoresHoc5/archEntrada.txt
/CompiladoresHoc5/dist/
/CompiladoresHoc5/src/CompiladoresHoc5/AnalizadorLexico.java
/CompiladoresHoc5/src/CompiladoresHoc5/AnalizadorLexico.java~
/CompiladoresHoc5/src/CompiladoresHoc5/AnalizadorSintactico.java
CompiladoresHoc5/archEntrada.txt
